# Copyright (c) 2026 Franciszek Trzeciak
# SPDX-License-Identifier: Apache-2.0

config CUSTOM_BMP280
    bool "BMP280 Pressure and temperature sensor (FT)"
    default y
    depends on DT_HAS_CUSTOM_BMP280_ENABLED
    depends on SENSOR
    help
        Enable driver for unified BMP280 sensor

config CUSTOM_BMP280_USE_ALTIMETER
    bool "CUSTOM_BMP280 altimeter functionality (FT)"
    default n
    depends on DT_HAS_CUSTOM_BMP280_ENABLED
    help
        Enable altimeter functionality for unified BMP280 sensor driver